.figure{
  background-repeat: no-repeat;
}

.figure-hubble-1{

  background-image: url( '../figures/hubble-1' );
}

.figure.arduino-1{

  width: 400px;
  height: 317px;
  background-image: url('../figures/arduino-1.jpg');
  background-size: 400px auto;
  margin: auto;
}

.figure.lens-light{
  height: 288px;
  margin: auto;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.figure.l-l-0{
  background-image: url('../figures/lens-lights-0.png');
}
.figure.l-l-1{
  background-image: url('../figures/lens-lights-1.png');
}
.figure.l-l-2{
  background-image: url('../figures/lens-lights-2.png');
}
.figure.l-l-3{
  background-image: url('../figures/lens-lights-3.png');
}
.figure.l-l-4{
  background-image: url('../figures/lens-lights-4.png');
}

.figure.ws2812{

  width: 300px;
  height: 300px;
  background-image: url('../figures/ws2812.png');
  background-size: 300px auto;
  margin: auto;
}

.figure.blinky-pixels{

  width: 300px;
  height: 300px;
  background-image: url('../figures/blinky-pixels.jpg');
  background-size: 300px auto;
  margin: auto;
}


.figure.node-js{
  height: 300px;
  width: 490px;
  background-image: url('../figures/node.svg');
  background-size: 300px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.figure.react-js{
  height: 200px;
  width: 200px;
  background-image: url('../figures/react.svg');
  background-size: 200px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}


.figure.nw-js{
  height: 128px;
  width: 128px;
  background-image: url('../figures/nwjs.png');
  background-size: 128px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}



.figure.hl-dsn{

  height: 700px;
  background-size: auto 100%;
  background-position: center;
}
.figure.hl-design{
  background-image: url('../figures/hl-design.png');
}
.figure.hl-btn-1{
  background-image: url('../figures/hl-btn-1.png');
}
.figure.hl-btn-2{
  background-image: url('../figures/hl-btn-2.png');
}
.figure.hl-btn-3{
  background-image: url('../figures/hl-btn-3.png');
}
.figure.hl-btn-4{
  background-image: url('../figures/hl-btn-4.png');
}
.figure.hl-scene{
  background-image: url('../figures/hl-scene.png');
}
.figure.hl-frame{
  background-image: url('../figures/hl-frame.png');
}
.figure.hl-frames-1{
  background-image: url('../figures/hl-frames-1.png');
}
.figure.hl-frames-2{
  background-image: url('../figures/hl-frames-2.png');
}
.figure.hl-frames-3{
  background-image: url('../figures/hl-frames-3.png');
}
.figure.get-rgb{
  background-image: url('../figures/get-rgb.png');
}
.figure.img-scene-1{
  background-image: url('../figures/img-scene-1.png');
}
.figure.img-scene-2{
  background-image: url('../figures/img-scene-2.png');
}
.figure.img-scene-3{
  background-image: url('../figures/img-scene-3.png');
}
.figure.img-scene-4{
  background-image: url('../figures/img-scene-4.png');
}
.figure.img-scene-5{
  background-image: url('../figures/img-scene-5.png');
}
.figure.img-scene-6{
  background-image: url('../figures/img-scene-6.png');
}
.figure.img-scene-7{
  background-image: url('../figures/img-scene-7.png');
}
.figure.img-scene-8{
  background-image: url('../figures/img-scene-8.png');
}
.figure.three-light-scene{
  background-image: url('../figures/3-light-scene.png');
}
.figure.hl-event-hub{
  background-image: url('../figures/hl-event-hub.png');
}
.figure.hl-scene-player{
  background-image: url('../figures/hl-scene-player.png');
}
.figure.uc-init-1{
  background-image: url('../figures/uc-init-1.png');
}
.figure.uc-init-2{
  background-image: url('../figures/uc-init-2.png');
}
.figure.uc-init-3{
  background-image: url('../figures/uc-init-3.png');
}
.figure.uc-init-4{
  background-image: url('../figures/uc-init-4.png');
}
.figure.uc-play-1{
  background-image: url('../figures/uc-play-1.png');
}
.figure.uc-play-2{
  background-image: url('../figures/uc-play-2.png');
}
.figure.uc-play-3{
  background-image: url('../figures/uc-play-3.png');
}
.figure.uc-play-4{
  background-image: url('../figures/uc-play-4.png');
}
.figure.uc-play-5{
  background-image: url('../figures/uc-play-5.png');
}
.figure.el-1{
  background-image: url('../figures/el-1.png');
}
.figure.el-2{
  background-image: url('../figures/el-2.png');
}
.figure.el-3{
  background-image: url('../figures/el-3.png');
}
.figure.el-4{
  background-image: url('../figures/el-4.png');
}
.figure.el-5{
  background-image: url('../figures/el-5.png');
}
.figure.el-6{
  background-image: url('../figures/el-6.png');
}
.figure.el-7{
  background-image: url('../figures/el-7.png');
}
.figure.el-8{
  background-image: url('../figures/el-8.png');
}
